# see https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners#codeowners-syntax

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
*       @pi-hole/core-maintainers
