[Unit]
Description=Pi-hole FTLDNS
After=network.target

[Service]
Restart=on-abnormal
User=root
Group=root

Type=forking
PIDFile=/run/pihole-FTL.pid

ExecStartPre=/bin/bash /etc/.pihole/advanced/pihole-FTL-prestart.sh
ExecStart=/bin/su -s /bin/sh -c "/usr/bin/pihole-FTL" "pihole"
ExecReload=/bin/kill -HUP $MAINPID

; Use graceful shutdown with a reasonable timeout
KillMode=mixed
TimeoutStopSec=10s

; Make /usr, /boot, /etc and possibly some more folders read-only...
ProtectSystem=full
; ... except /etc/pihole
; This merely retains r/w access rights, it does not add any new.
; Must still be writable on the host!
ReadWriteDirectories=/etc/pihole

[Install]
WantedBy=multi-user.target
