Source: pi-hole
Package: pihole-dependencies
Homepage: https://github.com/pi-hole
Section: misc
Priority: optional
Standards-Version: 3.9.2
Architecture: all
Version: 1.0
Depends: grep, curl, psmisc, sudo, unzip, jq, git, dialog, ca-certificates, dnsutils, binutils, iproute2, cron, iputils-ping, libcap2-bin, dns-root-data, libcap2, netcat-openbsd, procps, lshw, bash-completion
Description: Debian dependencies for pihole
